/* contenedor fijo en la esquina superior derecha */
body {
  overflow: hidden !important;
}

.ToastContainer {
  padding: 20px;
  border-radius: 16px;
  box-shadow: 2px 3px 3px rgb(211, 211, 211);
  position: fixed;
  top: 10px;
  right: 20px;
  background-color: rgb(248, 248, 248);
  display: flex;

  max-width: 500px;
}

/* icono y textos */
.icon {
  font-size: 20px;
  margin-right: 8px;
}

.titleToast {
  font-size: 12px;
  font-weight: 600;
}

/* colores por tipo */
.toastSuccess {
  color: green;
}

.toastDanger {
  color: red;
}
