/* contenedor fijo en la esquina superior derecha */
body {
  overflow: hidden !important;
}

.ToastContainer {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  align-items: center;
  width: 270px;
  padding: 3px 18px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

small {
  font-size: 15px;
}

.toastContainerDanger {
  background-color: #e02e2a;
  color: rgb(255, 255, 255);
  box-shadow: 0 3px 4px rgb(194, 194, 194);
}

.icon {
  font-size: 25px;
  margin-right: 8px;
}

/* colores por tipo */

.toastContainerSuccess {
  background-color: #28a745;
  color: rgb(255, 255, 255);
}

.toastSuccess {
}

.toastDanger {
}
