/* contenedor fijo en la esquina superior derecha */
body {
  overflow: hidden !important;
}

.ToastContainer {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  align-items: center;
  width: 250px;
  padding: 11px 20px;
  border-radius: 10px;
  font-size: 19px;
  font-weight: 500;
  color: white;
}

small {
  font-size: 15px;
}

.toastContainerSuccess,
.toastContainerDanger {
  color: black;
  box-shadow: 0 3px 4px rgb(194, 194, 194);
  background: #ffffff;
}

.icon {
  font-size: 25px;
  margin-right: 8px;
}

/* colores por tipo */
.toastSuccess {
  color: #198754;
}

.toastDanger {
  color: #dc3545;
}
