p {
  color: red; /*/* color : propiedad para dar color a texto */
  background-color: blue; /*/* color : propiedad para dar fondo de un color un contenedor */
  padding: 10px; /*/* padding : propiedad para dar espacio interno a un contenedor */
  margin: 15px; /*/* margin : propiedad para dar espacio externo a un contenedor */
  border: 5px solid black; /*/* border : propiedad para dar borde a un contenedor */
  border-radius: 10px; /*/* border-radius : propiedad para redondear bordes de un contenedor */
  font-weight: bold; /*/* font-weight : propiedad para dar grosor a la letra */
  font-size: 30px; /*/* font-size : propiedad para dar tamaño a la letra */
  text-align: center; /*/* text-align : propiedad para alinear el texto  al centro*/
  text-align: end; /*/* text-align : propiedad para alinear el texto  a la derecha*/
}

input {
  border: none; /*/* border : propiedad para dar borde a un contenedor */
  background-color: red; /*/* color : propiedad para dar fondo de un color un contenedor */
  padding: 8px; /*/* padding : propiedad para dar espacio interno a un contenedor */
  border-radius: 10px; /*/* border-radius : propiedad para redondear bordes de un contenedor */
  border: 2px solid rgb(250, 250, 250); /*/* border : propiedad para dar borde a un contenedor */
  outline: none; /*/* outline : propiedad para quitar el borde que aparece al seleccionar un input */
}

div {
    /*/* 4 propiedades clave para centrar un elemento correctamente */
  display: flex; /*/* display : flex propiedad para definir el tipo de contenedorr (Por defecto en horizontal)*/
  justify-content: center; /*/* justify-content : propiedad para alinear elementos horizontalmente */  
  align-items: center; /*/* align-items : propiedad para alinear elementos verticalmente */
  min-height: 100vh; /*/* min-height : propiedad para definir una altura minima a un contenedor */
}



