.Task {
  padding: 8px 9px;
  background-color: white ;
border-left: 5px solid  #2b2b2b;
border-radius: 6px;

}

.tag{
   background-color: #e02e2a;
  padding: 3px 10px;
  color: white;
  font-size: 12px;
  border-radius: 20px; 
}



.dateCreated{
  color: rgb(142, 142, 142);
  font-size: 13px;
}


.radioInput{
  height: 50px;
  width: 17px;
  cursor: pointer;
}

.iconCategory{
  font-size: 20px;

}