.btnAct {
  border: none;
  padding: 7px 10px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  transition: transform 0.2s ease-in;
}

.btnAct:hover {
  transform: scale(1.02);
}

.btnActUpdate {
  color: #0d6efd;
}

.btnActDelete {
  color: #dc3545;
}
