body {
  background-color: #f5f5f5;
}
.btnSidebar {
  border: none;

  background-color: #2b2b2b;
  border-radius: 10px;
  backdrop-filter: blur(1px);
  transition: all 0.2s ease-in-out;
  padding: 3px 10px;
}
.btnSidebar:hover {
  transform: scale(1.04) rotate(1deg);
}

.btnSidebar i {
  color: white;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.containerSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #1f1f1f;

  height: 100%;
}

.contentSidebar {
  width: 70px;
  margin: 25px 10px;
}

.labelBtnSidebar {
  color: rgb(238, 238, 238);
  font-size: 14px;
}
