.modalContainerTask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.115);

  backdrop-filter: blur(1px);

  z-index: 1000;
}

.modalContentTask {
  position: fixed;

  width: 550px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 15px rgba(91, 91, 91, 0.3);
  border: none;
  border-radius: 12px;
  padding: 20px;
}
