.inputTask {
  border: none;
  padding: 12px 10px;
  width: 350px;
  border-radius: 10px;
  border: 1px solid #efefef;
}
.inputTask:focus {
  outline: none;
}

.error-message {
  color: red;
}

.input-error {
  border: 1px solid red;
}
